<!DOCTYPE html>
<html>
    <head>
        <link href="./etc/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
        <link href="./etc/favicon.ico" rel="icon" type="image/x-icon"/>
        <link href="./etc/main.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="./etc/menu.js" defer></script>
    </head>
    <body>
        <div id="title"><h1>No Mind To Think</h1></div>
        <div id="menu-title"><data-menu id="menu" data="./etc/menu_data.json"></data-menu></div>
    <body>
</html>
