<!DOCTYPE html>
<html>
    <head>
        <link rel=“shortcut icon” href="/etc/favicon.ico" type=“image/x-icon” />
        <link rel=“icon” href="/etc/favicon.ico" type=“image/x-icon” />
        <link href="./etc/prism/prism.css" rel="stylesheet" />
        <link href="./etc/main.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="./etc/menu.js" defer></script>
        <script src="./etc/prism/prism.js" defer></script>
    </head>
    <body>
        <data-menu id="menu" data="./etc/menu_data.json"></data-menu>
        <div id="content">content</div>
    <body>
</html>
